table.features {
  color: #777777;
  font-family: sans-serif;
  font-weight: 700;
  margin: auto;
}

th {
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
}

td.magnitude {
  text-align: center;
}